body {
	background-color:#FFF;
	color:#444;
	font-family:"Microsoft Yahei","Droid Serif",Georgia,"Times New Roman",STHeiti,serif;
	font-size:12px !important;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:"Microsoft Yahei","Droid Serif",Georgia,"Times New Roman",STHeiti,serif;
}
a {
	color:#1ba1e2;
	text-decoration:none;
}
a:hover,a:active {
	text-decoration:none;
	color:#1B6BE2;
}
pre,code {
	padding:2px 4px;
	background:#F3F3F0;
	font-family:Menlo,Monaco,Consolas,"Lucida Console","Courier New",monospace;
	font-size:.92857em;
}
code {
	color:#B94A48;
}
pre {
	padding:8px;
	overflow:auto;
	max-height:400px;
}
pre code {
	padding:0;
	color:#444;
}
blockquote {
	font-size:12px;
	margin:1em 1.5em;
	padding-left:1.5em;
	border-left:4px solid #F3F3F0;
}
blockquote p {
	line-height:2;
	font-size:12px
}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],textarea {
	padding:5px;
	border:1px solid #E9E9E9;
	width:100%;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {
	resize:vertical;
}
.weibo a,.theme a {
	border-bottom:none !important;
}
.weibo a {
	text-decoration:none;
	color:#555;
}
.post-meta a,.post-content a,.widget a,.comment-content a {
	border-bottom:1px solid #EEE;
}
.post-meta a:hover,.post-content a:hover,.widget a:hover,.comment-content a {
	border-bottom-color:transparent;
}
.browsehappy {
	padding:8px 0;
	background:#FBE3E4;
	color:#8A1F11;
	text-align:center;
}
.browsehappy a {
	color:#8A1F11;
	text-decoration:underline;
	font-weight:bold;
}
#header {
	padding-top:35px;
	border-bottom:1px solid #EEE;
}
#logo {
	color:#333;
	font-size:20px;
}
.description {
	margin:.5em 0 0;
	color:#999;
}
#nav-menu {
	margin:25px 0 0;
	padding:0;
}
#nav-menu a {
	font-size:12px;
	display:block;
	margin-right:-1px;
	padding:0 20px;
	border:1px solid #EEE;
	border-bottom:none;
	height:28px;
	line-height:28px;
	color:#444;
	float:left;
}
#nav-menu a:hover,#nav-menu .current {
	background:#F6F6F6;
}
#search {
	position:relative;
	margin-top:15px;
}
#search input {
	padding-right:30px;
}
#search button {
	position:absolute;
	right:4px;
	top:2px;
	border:none;
	padding:0;
	width:24px;
	height:24px;
	background:transparent url(img/icon-search.png) no-repeat center center;
	direction:ltr;
	text-indent:-9999em;
}
.post {
	padding:15px 0 20px;
	border-bottom:1px solid #EEE;
}
.post-title,#comments h3 {
	letter-spacing:1px;
	margin:.83em 0;
	font-size:16px;
}
.post-meta {
	padding:0;
	color:#999;
	font-size:12px;
}
.post-meta a {
	color:#999
}
.post-content {
	color:#555;
	letter-spacing:1px;
	font-size:12px;
	line-height:2;
}
.post .tags {
	clear:both;
}
.archive-title {
	margin:1em 0 -1em;
	padding-top:20px;
	color:#999;
	font-size:1em;
}
.more {
	text-align:center;
}
.more a {
	border:none;
}
.protected .text {
	width:50%;
}
.page-navigator {
	list-style:none;
	margin:25px 0;
	padding:0;
	text-align:center;
}
.page-navigator li {
	display:inline-block;
	margin:0 4px;
}
.page-navigator a {
	display:inline-block;
	padding:0 10px;
	height:30px;
	line-height:30px;
}
.page-navigator a:hover {
	background:#EEE;
	text-decoration:none;
}
.page-navigator .current a {
	color:#444;
	background:#EEE;
}
#comments {
	padding-top:15px;
}
.comment-list,.comment-list ol {
	list-style:none;
	margin:0;
	padding:0;
}
.comment-list li {
	padding:14px;
	margin-top:10px;
	border:1px solid #EEE;
}
.comment-list li.comment-level-odd {
	background:#F6F6F3;
}
.comment-list li.comment-level-even {
	background:#FFF;
}
.comment-list li.comment-by-author {
	background:#FFF9E8;
}
.comment-list li .comment-reply {
	text-align:right;
	font-size:.92857em;
}
.comment-meta a {
	color:#999;
	font-size:.92857em;
}
.comment-author {
	display:block;
	margin-bottom:3px;
	color:#444;
}
.comment-author .avatar {
	float:left;
	margin-right:10px;
}
.comment-author cite {
	font-weight:bold;
	font-style:normal;
}
.comment-list .respond {
	margin-top:15px;
	border-top:1px solid #EEE;
}
.respond .cancel-comment-reply {
	float:right;
	margin-top:15px;
	font-size:.92857em;
}
#comment-form label {
	display:block;
	margin-bottom:.5em;
	font-weight:bold;
}
#comment-form .required:after {
	content:" *";
	color:#C00;
}
#secondary {
	padding-top:15px;
	word-wrap:break-word;
}
#footer {
border-top:1px solid #ddd;
padding:1em 0;
	margin:2em 0;
	line-height:2;
	text-align:center;
	color:#999;
}
.error-page {
	margin-top:100px;
	margin-bottom:100px;
}
.post-content,.comment-content {
	line-height:2;
	word-wrap:break-word;
}
.comment-content h2 {
	font-size:1.28571em;
}
.post-content img,.comment-content img,.post-content video,.comment-content video {
	max-width:100%;
}
.post-content img {
	padding: 2px;
	border: solid 1px #ddd;
	vertical-align: middle;
}
.post-content a img {
	background:#FFF;
	position:relative;
	bottom:-4px;
}
.post-content hr,.comment-content hr {
	margin:2em auto;
	width:100px;
	border:1px solid #E9E9E9;
	border-width:2px 0 0 0;
}
.post-content h2 {
	border-bottom:1px solid #dadada;
	padding-bottom:7px;
	font-size:16px;
}
.post-content h3 {
	border-bottom:1px solid #dadada;
	padding:8px;
	font-size:16px;
	background-color:rgba(238,238,238,0.56);
}
.aligncenter,div.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.alignleft {
	float:left;
}
.alignright {
	float:right;
}
img.alignleft {
	margin:0 15px 0 0;
}
img.alignright {
	margin:0 0 0 15px;
}
@media(min-width:768px) {
	.container {
	max-width:628px !important;
}
}
@media(max-width:768px) {
#nav-menu a {
	float:none;
	display:inline-block;
	margin:0 -2px;
}
	.container {
	max-width:628px;
}

#header,.post-title,.post-meta {
	text-align:center;
}
}@media(min-width:1200px) {
	.container {
	max-width:628px !important;
}
}.hidden {
	display:none!important;
	visibility:hidden;
}
.sr-only {
	border:0;
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
.sr-only.focusable:active,.sr-only.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}
.invisible {
	visibility:hidden;
}
.readers {
	margin-top:20px;
}
.readers li {
	float:left;
	width:25%;
	overflow:hidden;
	height:48px;
	margin-bottom:10px;
	line-height:18px;
	padding-bottom:10px;
	list-style:none;
}
.readers img {
	float:left;
	border-radius:2px;
	margin-right:8px;
	width:36px;
	height:36px;
	padding:3px;
	border:1px solid #C9C9C9;
	background:#fff;
}
.readers a {
	color:#666;
	border-bottom:none;
}
.readers a:hover {
	color:#333;
}
.readers strong {
	color:#380;
	font-weight:normal;
	line-height:33px;
}
.comment-content{margin-top: 10px;
font-size: 14px;}
.links{color:#999}
.links li{float:left;margin-right:10px;
list-style-type: none;color:#999;font-family: Menlo,Monaco,Consolas,"Lucida Console","Courier New",monospace;}
.links li a{color:#999}
.pagination{margin:0}